body {
  margin: 0;
  padding: 0;
}

.grid1 {
  margin: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 8fr;
  gap: 20px;
}

article {
  display: grid;
  grid-row: 2 / span1;
  box-sizing: border-box;
  width: 100%;
  border: solid #000000 2px;
  padding: 5px;
}
